[mysqld]
user=root
port=3306

#아래에 데이터 dir을 주지를 않으면 테이블을 불러올수없다 에러가뜬다.
datadir=/var/lib/mysql
log-bin=/var/lib/mysql/mysql-bin

#외부 연결 아이피 0.0.0.0은 모든 ip를 허용하겠다는것.
bind-address=0.0.0.0

#1이면 로컬에서만수신, 다른컨테이너에서도 접근해야하므로 0
skip-networking=0
